{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock header %}

{% block body %}

<section class="container-fluid my-4">
  <div class="row vh-90">
    <div class="col-md-12 mx-auto">
      <div class="form-area">
        <div class="card mb-3 shadow-lg" style="max-width: 740px;">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center ">AI Based Iris Species Prediction</h4>
          </div>
          <div class="row g-0">
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">Predict Sub Species</h5>
                <form method="POST" class="form">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="col-12">
                      {{ form.sepal_length.label }} {{ form.sepal_length(class="form-control form-control-lg") }}
                    </div>
                    <div class="col-12">
                      {{ form.sepal_width.label }} {{ form.sepal_width(class="form-control form-control-lg") }}
                    </div>
                    <div class="col-12">
                      {{ form.petal_length.label }} {{ form.petal_length(class="form-control form-control-lg") }}
                    </div>
                    <div class="col-12">
                      {{ form.petal_width.label }} {{ form.petal_width(class="form-control form-control-lg") }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col ">
                      <button type="submit" class="btn btn-primary form-control my-3">Predict</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            {% if prediction %}
            <div class="col-md-6 p-3">
              <h2>It is a {{ prediction }}</h2>
              <img src="{{url_for('static', filename='images/iris_' + prediction + '.jpg')}}" height="100%"
                class="img-fluid shadow-lg rounded" />
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}

{% block js %}
<script src="/static/js/index.js"></script>
{% endblock js %}